{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}


<div class="px-4 py-5 my-5 text-center">
  <h3 >mailoleg@yahoo.com</h3>
  <h3 >00 44 7563 533428</h3>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      <a href="https://github.com/olegp999" style="color: black;" target="_blank">Github</a> • 
      <a href="{{url_for('contact')}}" style="color: black;">Contact</a> •
      <a href="{{url_for('projects')}}" style="color: black;"> Projects</a> 
    </p>

  </div>
</div>

{% endblock %}