{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}
<style>
  .btn {
  background-color: black;
  color: white;

}

.btn:hover {
  background-color: #FF6100;
  color: black;
}
</style>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Olegs Pusins</h1>
  <p class="lead">Welcome to my personal website! <br> Take some time to look around, check out my projects and get in touch with me.</p>
  <a href="{{url_for('projects')}}" ><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">My Projects</button></a>
</div>

{% endblock %}