{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}


<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Olegs Pusins</h1>
  <small >It is my personal website. And a correct way to pronounce the name is: Oleg Pushin.</small>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      <a href="https://github.com/olegp999" style="color: blue;" target="_blank">Github</a> • 
      <a href="{{url_for('contact')}}" style="color: blue;">Contact</a> •
      <a href="{{url_for('projects')}}" style="color: blue;"> Projects</a> 
    </p>

  </div>
</div>

{% endblock %}