
{% extends "base.html" %} 


{% block body %}

<center>
    <h1>CONTACT MANAGER</h1>


    <form method="post" action="{{ url_for('index') }}">
        {{ form.csrf_token }}
        {{ form.name.label }} <br> {{ form.name() }} <br>
        {{ form.number.label }} <br> {{ form.number() }} <br><br>
        {{ form.submit() }}

    </form>
    <br>
    <br>
    <h1>CONTACTS</h1>
    <hr style="width:30%;height:3px;background-color:black;">
        {% for contact in contacts %}
                {{ form.csrf_token }}
                <p>{{ contact[1] }}: {{ contact[2] }} </p>
                <a href="{{ url_for('contact_update', id=contact[0], name=contact[1], number=contact[2]) }}" style="color: blue; text-decoration: none;">Update</a> 
                <br>
                <a href="{{ url_for('contact_del', id=contact[0]) }}" style="color: red; text-decoration: none;">Delete</a>
                <hr style="width:30%;">
        {% endfor %}




</center> 

{% endblock %}


