{% extends "base.html" %}



{% block body %}

<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('login') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    <div class="form-floating">
      {{ form.email(class="form-control", id="floatingInput", placeholder="name@example.com") }}
      <label for="floatingInput">{{ form.email.label }}</label>
    </div>
    <div class="form-floating">
      {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
      <label for="floatingPassword">{{ form.password.label }}</label>
    </div>
    {{ form.hidden_tag() }}
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ form.submit.label }}</button>
  </form>
</main>


{% endblock %}
