{% extends "base.html" %}



{% block body %}

<div class="modal modal-sheet position-static d-block  p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2 bi bi-person-lines-fill">   Sign in</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="" action="{{ url_for('login') }}" method="post">
          {{ form.csrf_token }}
          <!-- <div class="form-floating mb-3">
            {{ form.name(class="form-control rounded-3", id="floatingInput", placeholder="name@example.com") }}
            <label for="floatingInput">{{ form.name.label }} </label>
          </div> -->
          <div class="form-floating mb-3">
            {{ form.email(class="form-control rounded-3", id="floatingInput", placeholder="name@example.com") }}
            <label for="floatingInput">{{ form.email.label }}</label>
          </div>
          <div class="form-floating mb-3">
              {{ form.password(type="password", class="form-control rounded-3", id="floatingInput", placeholder="name@example.com") }}
              <label for="floatingInput">{{ form.password.label }}</label>
          </div>
          {{ form.submit(class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" ) }}
          <p>Don't have an account? <a href="{{url_for('register')}}" style="color: black; font-weight: bold; font-size: 1.17em;">Sign up</a> </p>
          <!-- <p>Don't have an account? <a href="{{url_for('register')}}" ><button style="color: white ; background-color: black; text-decoration: none; border-radius: 10px; transition: all 0.3s ease-in-out; "  > Sign up</button></a></p> -->
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
