{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}

<style>
  p {
    margin-bottom: 10px; 
  }
</style>


<div  class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Projects</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Hello there! Thank you for taking the time to check out my projects. Feel free to provide any feedback you may have.</p>
  </div>
  <br>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="{{ url_for('static', filename='code.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>


<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">My personal website</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It provides a convenient way to get in touch with me and to learn more about my projects and source code.</p>
    <p class="lead mb-4">Technologies used: Python, Flask, Bootstrap, HTML, CSS.</p>
    <a href="{{url_for('front')}}"><button type="button" class="btn btn-outline-dark btn-lg px-4">Personal website</button></a>
  </div>
  <br>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="{{ url_for('static', filename='frontpa.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>



<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">App for managing your contacts</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It is a simple tool to record, delete or update contacts. The main goal of the project is to improve my coding skills. I encourage you to test the functionality and have some fun with it.</p>
    <p class="lead mb-4">I've used various technologies such as Python, Flask, Bootstrap, HTML, CSS, MySql, Amazon RDS database, and Render to deploy the application from Github.</p>
    <p style="color: red;" class="lead mb-4">Please note that as I am currently using free tiers of cloud-based services, the project may take longer to load or respond at times. Due to these limitations, there may be instances where the app communicates with the database and shows errors. In such cases, it is recommended that you reload the page to obtain the expected result. I appreciate your patience and understanding as I work on improving my coding skills.</p>
    <small class="text-body-secondary">To access the content, please log in or register for an account.</small>
    <small class="text-body-secondary">Do not use real name, email or password please.</small>    
    <br>
    <br>
    <p><a href="{{url_for('register')}}" ><button type="button" class="btn btn-outline-dark btn-lg px-4">Contact Manager</button></a>
    <a href="https://github.com/olegp999/myapp" style="color: black;" target="_blank">Source Code</a>
    </p>
  </div>
  <br>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="{{ url_for('static', filename='cont.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>


<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Virtual fun blackjack</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It was a contactless way to communicate and socialize with friends and family during Covid-19 times.</p>
    <p class="lead mb-4">I've used various technologies such as Wordpress and Zoom.</p>
    <a href="#" ><button type="button" class="btn btn-outline-dark btn-lg px-4">Inactive Service</button></a>
  </div>
  <br>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="{{ url_for('static', filename='zoomp.png') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
{% endblock %}