{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}

<style>
  p {
    margin-bottom: 10px; 
  }
</style>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img img src="{{ url_for('static', filename='contactm.png') }}" class="d-block mx-lg-auto img-fluid"  width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h2>App for managing your contacts.</h2>
      <p class="lead">
        <p>Hello there!</p> 
        <p>Thank you for taking the time to check out my project. It is a simple tool to record, delete or update contacts. I encourage you to test the functionality and have some fun with it. </p> 
        <p>The main goal is to improve my coding skills. Please note that I'm currently using free tiers of cloud-based services, so the project may take a little longer to load or respond at times. I appreciate your patience and understanding as I work on improving my coding skills.</p>
        <p>I've used various technologies such as Python, Flask, Bootstrap, HTML, CSS, MySql, PlanetScale MySQL serverless database, and Render to deploy the application from Github.</p>
        <p>Thank you for your interest, and feel free to provide any feedback you may have.</p>
        <!-- <h5><a href="{{url_for('register')}}" style="color: black;">• Contact Manager</a></h5> -->
        <a href="{{url_for('register')}}" ><button style="color: black; background-color: white; text-decoration: none; border-radius: 5px; transition: all 0.3s ease-in-out;" onmouseover="this.style.backgroundColor='black'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >Contact Manager</button></a>
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>
{% endblock %}