{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}


{% block body %}

<style>
  p {
    margin-bottom: 10px; 
  }
  .btn {
  background-color: black;
  color: white;

}

.btn:hover {
  background-color: white;
  color: black;
}
</style>

<!-- Masonry's positioning. -->
<!-- <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script> -->


<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Projects</h1>
      <p class="lead">Hello there! Thank you for taking the time to check out my projects. Feel free to provide any feedback you may have.</p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="{{ url_for('static', filename='code.jpg') }}" alt="" width="720">
    </div>
  </div>
</div>




<main class="container py-5">
<div class="row" data-masonry='{"percentPosition": true }'>

<div class="col-sm-6 col-lg-4 mb-4">
  <div class="card">
    <img src="{{ url_for('static', filename='frontpa.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    <div class="card-body">
      <h5 class="card-title">My personal website</h5>
      <p class="card-text">It provides a convenient way to get in touch with me and to learn more about my projects and source code.</p>
      <p class="card-text">Technologies used: Python, Flask, Bootstrap, HTML, CSS.</p>
      <a href="{{url_for('front')}}" ><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Personal website</button></a>
    </div>
  </div>
</div>

<div class="col-sm-6 col-lg-4 mb-4">
  <div class="card">
    <img src="{{ url_for('static', filename='cont.jpg') }}"  class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    <div class="card-body">
      <h5 class="card-title">This is a phone book app to save phone numbers and names</h5>
      <p class="card-text">It is a simple tool to record, delete or update contacts. The main goal of the project is to improve my coding skills. I encourage you to play with the app to test the functionality.</p>
      <p class="card-text">I've used various technologies such as Python, Flask, Bootstrap, HTML, CSS, MySql, Amazon RDS database, and Render to deploy the application from Github.</p>
      <p style="color: red;" class="card-text">Please note that as I am currently using free tiers of cloud-based services, the project may take longer to load or respond at times. Due to these limitations, there may be instances where the app communicates with the database and shows errors. In such cases, it is recommended that you reload the page to obtain the expected result. I appreciate your patience and understanding as I work on improving my coding skills.</p>
      <!-- <p class="card-text">It is a simple tool to record, delete or update contacts. The main goal of the project is to improve my coding skills. I encourage you to test the functionality and have some fun with it.</p> -->
      <small class="card-text" class="text-body-secondary">To access the content, please log in or register for an account.</small>
      <small class="card-text" class="text-body-secondary">Do not use real name, email or password please.</small>   
      <br>
      <br>       
      <a href="{{url_for('register')}}"><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Contact Manager</button></a>
      <a href="https://github.com/olegp999/myapp" style="color: black;" target="_blank">Source Code</a>
    </div>
  </div>
</div>  

<div class="col-sm-6 col-lg-4 mb-4">
  <div class="card">
    <img src="{{ url_for('static', filename='zoom.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    <div class="card-body">
      <h5 class="card-title">Virtual fun blackjack</h5>
      <p class="card-text">It was a contactless way to communicate and socialize with friends and family during Covid-19 times.</p>
      <p class="card-text">I've used various technologies such as Wordpress and Zoom.</p>
      <a href="#" ><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Inactive Service</button></a>
    </div>
  </div>
</div>


</div>
</main>
<div class="b-example-divider"></div>
{% endblock %}