
{% extends "base.html" %} 


{% block body %}

<style>
    .btn {
    background-color: black;
    color: white;
  
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
</style>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <h3>UPDATE CONTACT: </h3>
        <form method="POST" action="{{ url_for('contact_update', id=contact[0], name=contact[1], number=contact[2], user_id=contact[3]) }}">
            {{ form.csrf_token }}
            {{ form.name.label }} <br> {{ form.name() }} <br>
            {{ form.number.label }} <br> {{ form.number() }} <br><br>
            {{ form.hidden_field }}
            {{ form.submit(class="btn btn-outline-secondary btn-lg px-4 rounded-pill" ) }}
        </form>  
        <br>
        <p class="lead mb-4">
         <a href="{{ url_for('contact_del', id=contact[0], user_id=contact[3]) }}" style="color: red; font-weight: bold">Delete Contact</a>
       </p>
    </div>
  </div>

{% endblock %}

